<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1200, initial-scale=1.0">
  <title>Air-asia</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="main.css" class="rel">
</head>

<body>
  <div class="wrapper main-page-wrapper">
    <section class="hero">
      <div class="container hero__container ">
        <header class="header">
          <div class="header__col">
            <a href="/" class="logo">
              <img src="./img/лого.png" alt="Air asia logo" class="logo__pic">
            </a>
            <nav class="menu">
              <ul class="menu__list">
                <li class="menu__item"> <a href="/" class="menu__link">Главная</a>
                </li>
                <li class="menu__item"> <a href="./services.html" class="menu__link">Услуги</a>
                </li>
                <li class="menu__item"> <a href="./reviews.html" class="menu__link">Отзывы</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="header__col header__col--align--right">
            <address class="contacts">
              <a href="tel:+78007003030" class="contacts__phone">8 800 700 30 30</a>
              <div class="contacts__dropdown-title">
                <a href="#" class="contacts__dropdown-link">График работы</a>
                <div class="contacts__dropdown-menu">
                  <ul class="contacts__dropdown-list">
                    <li class="contacts__dropdown-item contacts__dropdown-item--bold">пн-вс: 09:00 - 20:00</li>
                    <li class="contacts__dropdown-item">Обед: 14:00-14:30</li>
                  </ul>
                </div>
              </div>
            </address>
          </div>

        </header>


        <div class="hero__content">
          <div class="hero__text-section">
            <h1 class="hero__title">Авторские туры по Азии</h1>
            <h4 class="hero__subtitle">Открой для себя Азию</h4>
            <a href="#" class="btn">
              Подробнее
            </a>
          </div>

        </div>
      </div>

    </section>

    <section class="section section--main">
      <div class="container">

        <h2 class="section__title">Горящие туры</h2>
        <img src="./img/flame.png" alt="картинка 'flame'" class="section__title-icon">

        <ul class="tours">
          <li class="tours__item">
            <div class="tours__icon">
              <img class="tours__icon-img" src="./img/mountains.png" alt="img Таиланд"></div>

            <div class="tours__content">
              <h3 class="tours__title">
                Таиланд
              </h3>
              <div class="tours__desc">
                <div class="tours__conditions">
                  <div class="tours__desc-icon"><img src="./img/calendar.png" alt="img календарь"></div>
                  <div class="tours__desc-option">
                    7- 12 ночей
                  </div>
                </div>
                <div class="tours__conditions">
                  <div class="tours__desc-icon">
                    <img src="./img/meal.png" alt="img завтрак" class="tours__desc-icon-meal"></div>
                  <div class="tours__desc-option">
                    Завтраки
                  </div>
                </div>
              </div>
              <div class="tours__text">
                Равным образом постоянное обеспечение нашей деятельности позволяет оценить значение систем массового
                участия.
              </div>
              <div class="tours__btn-wrapper">
                <a href="#" class="btn btn--color--white">
                  Смотреть
                </a>
              </div>
            </div>
          </li>

          <li class="tours__item">
            <div class="tours__icon">
              <img class="tours__icon-img" src="./img/pool.png" alt="img Бали>"></div>

            <div class="tours__content">
              <h3 class="tours__title">
                Бали
              </h3>
              <div class="tours__desc">
                <div class="tours__conditions">
                  <div class="tours__desc-icon"><img src="./img/calendar.png" alt="img календарь"></div>
                  <div class="tours__desc-option">
                    7- 12 ночей
                  </div>
                </div>
                <div class="tours__conditions">
                  <div class="tours__desc-icon">
                    <img src="./img/meal.png" alt="img завтрак" class="tours__desc-icon-meal"></div>
                  <div class="tours__desc-option">
                    Завтраки
                  </div>
                </div>
              </div>
              <div class="tours__text">
                Равным образом постоянное обеспечение нашей деятельности позволяет оценить значение систем массового
                участия.
              </div>
              <div class="tours__btn-wrapper">
                <a href="#" class="btn btn--color--red">
                  Смотреть
                </a>
              </div>
            </div>
          </li>

          <li class="tours__item">
            <div class="tours__icon">
              <img class="tours__icon-img" src="./img/ocean.png" alt="img Таиланд"></div>

            <div class="tours__content">
              <h3 class="tours__title">
                Индонезия
              </h3>
              <div class="tours__desc">
                <div class="tours__conditions">
                  <div class="tours__desc-icon"><img src="./img/calendar.png" alt="img календарь"></div>
                  <div class="tours__desc-option">
                    7- 12 ночей
                  </div>
                </div>
                <div class="tours__conditions">
                  <div class="tours__desc-icon">
                    <img src="./img/meal.png" alt="img завтрак" class="tours__desc-icon-meal"></div>
                  <div class="tours__desc-option">
                    Завтраки
                  </div>
                </div>
              </div>
              <div class="tours__text">
                Равным образом постоянное обеспечение нашей деятельности позволяет оценить значение систем массового
                участия.
              </div>
              <div class="tours__btn-wrapper">

                <a href="#" class="btn btn--color--white">
                  Смотреть
                </a>
              </div>
            </div>
          </li>

        </ul>

      </div>
    </section>

    <section class="section section--news">
      <div class="container">
        <h1 class="section__title">
          Новости и акции
        </h1>
        <ul class="news">
          <li class="news__item single-news">
            <img src="./img/plain.png" alt="Дешевые путевки" class="single-news__image">
            <div class="single-news__content">
              <time class="single-news__date">
                <span class="single-news__date-month">
                  Декабрь</span>
                <span class="single-news__date-year">
                  2019</span>
              </time>
              <div class="single-news__title">
                Дешевые путевки на Новый Год!
              </div>
              <div class="single-news__desc">
                Проведи новый год в Тайланде
              </div>
            </div>
          </li>
          <li class="news__item single-news">
            <img src="./img/Surfer.png" alt="Акция для серфенгистов!" class="single-news__image">
            <div class="single-news__content">
              <time class="single-news__date">
                <span class="single-news__date-month">
                  Декабрь</span>
                <span class="single-news__date-year">
                  2019</span>
              </time>
              <div class="single-news__title">
                Акция для серфенгистов!
              </div>
              <div class="single-news__desc">
                В сезон больших волн скидка на путевку в Тайланд на остров
                серфенгистов. Удачного пути!
              </div>
            </div>
          </li>
        </ul>


        <div class="paginator">
          <div class="paginator__display">
            Страница <span class="paginator__display-current">1</span> из
            <span class="paginator__display-all">7</span>
          </div>
          <ul class="paginator__list">
            <li class="paginator__item paginator__item--active">
              <a href="#" class="paginator__link">1</a>
            </li>
            <li class="paginator__item">
              <a href="#" class="paginator__link">2</a>
            </li>
            <li class="paginator__item">
              <a href="#" class="paginator__link">3</a>
            </li>
            <li class="paginator__item">
              <a href="#" class="paginator__link">4</a>
            </li>
            <li class="paginator__item">
              <a href="#" class="paginator__link">5</a>
            </li>
            <li class="paginator__item">
              <a href="#" class="paginator__link">6</a>
            </li>
            <li class="paginator__item">
              <a href="#" class="paginator__link">7</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="section section--about">
      <div class="container">
        <div class="about">

          <div class="about__content">
            <h2 class="about__title">
              О нас
            </h2>
            <div class="about__text">
              <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
                осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в
                домашних условиях.

              </p>
            </div>
            <a href="#" class="btn">
              Подробнее
            </a>
          </div>
        </div>
      </div>

    </section>

    <footer class="footer-container">
      <div class="container footer-container__content">
        <div class="footer">
          <div class="footer__col">
            <a href="/" class="logo">
              <img src="./img/лого.png" alt="logo" class="logo__pic">
            </a>

            <nav class="menu">
              <ul class="menu__list">
                <li class="menu__item">
                  <a href="./index.html" class="menu__link">Главная</a>
                </li>
                <li class="menu__item">
                  <a href="./services.html" class="menu__link">Услуги</a>
                </li>
                <li class="menu__item">
                  <a href="/services.html" class="menu__link">Отзывы</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="footer__col--align--right">
            <ul class="socials__list">
              <li class="socials__item socials__item--icon--telegram">
                <a href="#" class="socials__link">
                </a>
              </li>
              <li class="socials__item socials__item--icon--vk">
                <a href="#" class="socials__link">
                </a>
              </li>
              <li class="socials__item socials__item--icon--fb">
                <a href="#" class="socials__link">
                </a>
              </li>
              <li class="socials__item socials__item--icon--insta">
                <a href="#" class="socials__link">
                </a>
              </li>
            </ul>

            <address class="contacts">
              <div class="contacts__desc">Бесплатный звонок по России</div>
              <a href="tel:+78007003030" class="contacts__phone">8 800 700 30 30</a>
            </address>
          </div>

        </div>
    </footer>
  </div>
  </div>
</body>

</html>