@import url('./css/layout/base.css');

@import url('./css/blocks/hero.css');
@import url('./css/blocks/top-line.css');
@import url('./css/blocks/header.css');
@import url('./css/blocks/logo.css');
@import url('./css/blocks/menu.css');
@import url('./css/blocks/contacts.css');

@import url('./css/blocks/btn.css');
@import url('./css/blocks/section.css');
@import url('./css/blocks/tours.css');
@import url('./css/blocks/news.css');
@import url('./css/blocks/single-news.css');

@import url('./css/blocks/paginator.css');
@import url('./css/blocks/about.css');
@import url('./css/blocks/footer.css');
@import url('./css/blocks/socials.css');

@import url('./css/blocks/page-title.css');
@import url('./css/blocks/breadcrumbs.css');
@import url('./css/blocks/page-content.css');
@import url('./css/blocks/services.css');
@import url('./css/blocks/service.css');

@import url('./css/blocks/inner-section.css');
@import url('./css/blocks/partners.css');
@import url('./css/blocks/inner-footer.css');

@import url('./css/blocks/welcome.css');
@import url('./css/blocks/central.css');

@import url('./css/blocks/dropdown.css');


.reviews__item {
  margin-bottom: 20px;
}

.reviews {
  column-count: 2;
  column-gap: 30px;
  margin-bottom: 75px;
}

.review {
  display: inline-flex;
  flex-direction: column;
  padding: 50px 30px;
  background: #F4F5F5;
  border-radius: 5px;
}

.avatar {
  width: 142px;
  height: 142px;
  overflow: hidden;
  border-radius: 50%;
}

.review__header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.review__user {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #2E77A4;
  margin-bottom: 12px;
}

.review__user:after {
  content: url("/img/vk-blue.png");
  height: 30px;
}

.review__content-title {
  font-size: 30px;
  line-height: 42px;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #1A1B1E;
  margin-bottom: 15px;
}

.review__content-text {
  line-height: 1.7;
  display: flex;
  align-items: center;
  color: #818181;
  margin-bottom: 44px;
}

.review__date {
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #1A1B1E;
}

.tag {
  font-size: 13px;
  color: #303030;
  padding: 10px 18px;
  border-radius: 35px;
  background: #E7E7E7;
}

.review__tag {
  display: flex;
  align-items: flex-start;
}

.tag--bg--green {
  background: #B9EAE4;
}

.separator {
  background: url("/img/separator-people.png") right 500px bottom no-repeat, url("/img/separator-bg.png")center center no-repeat;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.separator__content {
  max-width: 50%;

}

.separator__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

/* .separator__image {
  display: flex;
  justify-content: flex-end;
} */
.form__row {
  display: flex;
  margin-bottom: 30px;
}

.form__input {
  flex: 1;
  margin-right: 30px;
  border-radius: 5px;
  border: none;
  background: #FFFFFF;
  padding: 20px 30px;
  color: #1A1B1E;
  font-size: 18px;
  line-height: 21px;
}

.form__input::placeholder {
  color: #666666;
}


.form__input:last-child {
  margin-right: 0px;
}
.form__input:focus{
  outline: none;
  border: 1px solid #F5170E;
}

.form__input--textarea {
  height: 235px;
}

.form__controls{
  display: flex;
  margin-bottom: 30px;
}

.form__controls-title{
  width: 40%;
}
.form__btns{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 96px;
}
.form__btn{
  margin-right: 17px;
}

.form__btn:last-child{
  margin-right: 0;
}
.controls{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.controls__item{
  margin-right: 10px;
  margin-bottom: 10px;
}

.controls__elem{
  cursor: pointer;
}
.controls__checkbox:checked ~ .controls__tag{
  background: #B9EAE4;
}
.controls__checkbox{
  display: none;
}

.btn--color--gray{
  background:#8E8E8E;
}

.btn--color--gray:hover{
  background: #2B2B2B;
}

