<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1200, initial-scale=1.0">
  <title>Air-asia-welcome-page</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="main.css" class="rel">
</head>

<body>
  <div class="welcome">
    <div class="welcome__container">
      <div class="central">
        <img src="./img/logo-welcome.png" alt="Air-asia logo" class="central__logo">
        <h5 class="central__header">Открой для себя Азию</h5>
        <a href="/" class="btn btn--welcome">Войти</a>
      </div>
    </div>

  </div>
</body>

</html>