.controls {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: -10px;
  margin-top: -5px;
}

.controls__item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.controls__elem {
  cursor: pointer;
}
.controls__tag{
  padding: 9px 15px;
}
.controls__checkbox:checked~.controls__tag {
  background: #B9EAE4;
}

.controls__checkbox {
  display: none;
}