.footer {
  margin-top: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-container {
  min-height: 146px;
  margin-top: 25px;
  margin-top: auto;
}

.footer--services {
  margin-top: 0;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-container__content {
  border-top: 1px solid #353538;
  margin-bottom: 20px;
}