
.news{
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}
.news__item {
  height: 394px;
  flex: 1;
  margin-right: 2%;
}
.news__item:last-child {
  margin-right: 0;
}