.top-line {
  min-height: 412px;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  background: url("../../img/services_top-line_bg.png") right 5% top no-repeat;
}

.top-line__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-line__header {
  margin-top: 25px;
}